body {
/* to centre page on screen*/
margin-left: auto;
margin-right: auto;
text-shadow:1px 1px 3px rgba(0,0,0,0.4),-1px -1px 3px rgba(255,255,255,0.8) ;
}
table {
border:1px solid #444;
padding:1em;
color:#000;
width:100%;
border-radius:0.5em;
font-family:Verdana, sans;
margin-top:1em;
max-height:30%;
overflow-y:auto;
overflow-x:auto;
}
thead {
border-bottom:2px solid rgba(0,0,0,0.2);
}

tr td{
padding:0 1em;
}

td.on {
border-right:1px solid #444;	
}
tr td:first-child {
border-right:1px solid #444;
margin-right:2em;
text-transform: uppercase;
text-align:right;
}
table tr:nth-child(2n), tr td:nth-child(2n) {
background:rgba(0,0,0,0.05);
}
audio, video{
text-align:center;
}
#footer{
width:100%;
padding:2em;
font-family:Verdana, sans;
text-align:center;
}

table.scheduler{
border:0;
margin-bottom:2em;
}
table.scheduler td{
width:5em;
min-width: 5em;
max-width:10em;
text-align:center;
}
table.scheduler td input{
	min-width:inherit !important;
}

tr:hover{
background:rgba(255,255,255,0.4) !important;
cursor:pointer;
}
td:hover{
background:rgba(255,255,255,0.8) !important;
}
thead td:hover,thead tr:hover{
background:none !important;
cursor:default;
}
.dwwc td, .dwwc tr{
background:inherit !important;
text-transform: none !important;
font-weight:600 !important;
}
